body {
    /*font-family: 'Source Sans Pro';*/
}

html, body {
    height: 100%;
}

.shadow-padi {
    box-shadow: 0px 4px 8px rgba(161, 160, 190, 0.13);
}

.bg-register {
    position: fixed;
    background-image: url("/assets/img/bg-login-min.png");
    background-position: bottom ;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.card-dashboard {
    padding: 0;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/img/bd-dashboard1.svg");
    background-position: bottom ;
    background-size: 110%;
    /*background-position-y: .5rem;*/
    background-repeat: no-repeat;
    max-height: 130px;
}

.card-dashboard-biru {
    padding: 0;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/img/bd-dahsboard2.svg");
    background-position: bottom ;
    background-size: 110%;
    /*background-position-y: .5rem;*/
    background-repeat: no-repeat;
    /*min-height: 140px;*/
}

.card-dashboard-panjang {
    padding: 0;
    overflow: hidden;
    position: relative;
    background-image: url("/assets/img/bd-llong.svg");
    background-position: bottom ;
    background-size: 110%;
    /*background-position-y: .5rem;*/
    background-repeat: no-repeat;
    max-height: 130px;
}

.border-green-padi {
    border-color: #32B687;
}
.bg-green-padi {
    background: #32B687;
}

.full-height {
    height: 100%;
}
/* form */

#msform {
    margin: 20px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(161, 160, 190, 0.13);
    padding: 20px 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    
    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
inputs
#msform input, #msform textarea {
    text-align: left;
}

/*buttons*/
#msform .action-button {
    cursor: pointer;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 10px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #B4B3C7;
    text-transform: none;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 28px;
    line-height: 28px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #B4B3C7;
    border-radius: 100%;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content:    "";
    width:      100%;
    height:     4px;
    background: #B4B3C7;
    position:   absolute;
    left:       -50%;
    top:        25%;
    z-index:    -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: #FFF;
}

#progressbar li.active{
    color: #27AE60;
}


.button-kios{
    padding: 0.5rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    background: #FFFFFF;
    border: 1px solid #F5F5F9;
    box-shadow: 0px 4px 8px rgba(161, 160, 190, 0.13);
    border-radius: 10px;
    height: 45px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;

   
}


#cekbok input[type=checkbox]{
    display: none;
}

#cekbok input[type=checkbox]:checked + .button-kios{
    padding: 0.5rem 0.5rem;
    display: inline-block;
    cursor: pointer;
    /* width: 162px; */
    background: #FFFFFF;
    border: 1px solid #FBBE34;
    box-shadow: 0px 8px 12px rgba(161, 160, 190, 0.25);
    border-radius: 10px;
    height: 45px;
}

tr.border-top-tr td {
    border-top: 1px #B4B3C7 dashed ;
    padding-top: 10px;

}
tr.border-bottom-tr td {
    border-bottom: 1px #B4B3C7 dashed ;
}